<h1>DELETE</h1>

<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <p>X <%= link_to task.title, task_path(task) %></p>
  <% else %>
    <%= link_to task.title, task_path(task) %>
  <% end %>
<% end %>
